input.invalida {
    background-color: #dc354631;
    border-color: #dc3545;
    color: #dc3545;
}

input.valida {
    background-color: #1d943954;
    border-color: #1d9439;
    color: #1d9439;
}

.bg-cor-botao{
    background-color: #343a40;
    color: white;
}